/*Imagens*/
.integrantesimg{
    width: 300px;
}
.botao{
    width: 60px;
    margin-right: 10px;
    text-align: center;
}
.integrantesmenu{
    width: 300px;
}

section img{
    text-align: center;
}
/*body*/
body{
    background-color: rgb(250, 241, 229);
    text-align: center;
}
/*Fontes*/
h2{
    font-family: Georgia, serif;
    font-size: 30px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
}
h1{
    font-family:Georgia, serif;
    text-align: center;
    font size: 30px;
    font style: bold;
}
nav{
    font-family: Georgia;
    font-size: 25px;
    text-align: center;
    font-style: bold;
}
a{
    text-decoration: none;;
}
.rm{
    text-align: center;
}
